@import "~bootstrap/scss/bootstrap";

$vermilion: #DD6E42;
$wheat: #E8DAB2;
$grey: #4F6D7A;
$blue: #C0D6DF;
$isabelline: #EAEAEA;

$theme-colors: (
        'vermilion': $vermilion,
        'wheat': $wheat,
        'grey': $grey,
        'blue': $blue,
        'isabelline': $isabelline,
);
navbar {
    background-color:$vermilion;
}

body {
    background-color:$wheat;
}

